@model SagicorNow.ViewModels.EmbeddedViewModel

@{
    ViewBag.Title = "EmbeddedApp";
}

@section header{
    <link type="text/css" rel="stylesheet" href="@Url.Content(Model.FirelightBaseUrl+"Resource/CSS/eApp")" />
    <link href="~/Content/SAG.css" rel="stylesheet" type="text/css" />
    <style>
        #fireLightMainDiv {
            padding-bottom: 4em;
        }

        .ITPanelTitleImage {
            padding: 0 2px;
        }

        .AddBene {
            width: 180px;
            margin: 10px 0px -5px 5px;
            border: 1px solid green;
            border-radius: 4px;
        }

        .RemoveBene {
            width: 210px;
            margin: 10px 0px -5px 5px;
            border: 1px solid green;
            border-radius: 4px;
        }

            .AddBene .ITButtonText, .RemoveBene .ITButtonText, .findPhysician .ITButtonText {
                font-size: 18px;
            }

            .RemoveBene .rightAlign {
                justify-content: flex-start !important;
            }

        .ITComponentLabel {
            margin-top: -5px;
        }

        .ITComponent__help {
            margin-top: -10px;
        }

        .navigationButtonsContainer {
            margin-bottom: -20px;
        }

        .navigationButtons {
            border-radius: 0 0 4px 4px;
            width: calc(-2px + 100%);
            margin-left: 1px;
        }

            .navigationButtons .ITButtonInput {
                margin-top: 10px;
                margin-right: 10px;
            }

        .findPhysician {
            min-width: 200px;
            margin: -2px 0px -5px 2px;
            border: 1px solid green;
            border-radius: 4px;
        }

        #FireLightNavBar {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }

        .NavToSectionBar {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #NavGroup1, #NavGroup2, #NavGroup3, #NavGroup4, #NavGroup5 {
            display: flex;
            min-width: 100px;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .NavDot {
            height: 40px;
            width: 40px;
            margin: auto;
            border-radius: 50%;
            background: #BABABA;
            margin-top: 15px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.3s;
        }

        .NavLabel {
            word-wrap: break-word;
            width: 100px;
            text-align: center;
            font-size: 12px;
            font-family: Arial;
            cursor: pointer;
        }

        .NavLine {
            position: absolute;
            height: 2px;
            width: 61px;
            margin: 34px 0px 0px -99px;
            background: #BABABA;
        }

        .NavActive {
            background: #00AEEF !important;
        }

        .CompleteDot {
            background: #88C348 !important;
        }

        .IconContainer {
            text-align: center;
            position: relative;
        }

        .NavInfoBar {
            background: #88C348;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .NavComments {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 40px;
            margin-top: 25px;
        }

        #CommentHeader {
            font-family: Arial;
            font-size: 32px;
            color: #474747;
            margin: 0 auto;
            line-height: 27px;
            padding: 10px;
            text-align: center;
        }

        #CommentBody {
            font-family: Arial;
            font-size: 22px;
            max-width: 850px;
            color: #474747;
            margin: 0 auto;
            text-align: center;
            line-height: 27px;
        }

        .heart {
            color: red;
            font-size: 22px;
        }

        #infoText {
            font-size: 20px;
            color: white;
            font-family: Arial;
            margin-top: 3px;
            padding: 0 5px;
        }

        .ripple {
            background: rgba(136, 195, 72, 0.5);
            border-radius: 50%;
            transform: scale(0);
            animation: ripple 0.6s linear;
        }

        #btnProceedToSignatures {
            border: 0px;
            height: 50px;
            width: 250px;
            background: #88C348;
            color: white;
            font-family: Arial;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
        }

        #CompleteButton {
            text-align: center
        }
    </style>
}
<p id="errMessage" style="border-top:1px solid #D2D2D2;display:none;"></p>
<div id="FireLightNavBar" style="display:none;">
    <div class="NavInfoBar" id="NavInfoBar">
        <span class="heart">&#x2764;</span><span id="infoText">You are buying $ of protection for just $ per month.</span><span class="heart">&#x2764;</span>
    </div>
    <div class="NavToSectionBar">
        <div id="NavGroup1">
            <div class="IconContainer">
                <div class="NavDot NavActive" data-page="3"></div>
                <div class="NavLabel" data-page="3">Beneficiaries</div>
            </div>
        </div>
        <div id="NavGroup2">
            <div class="NavLine"></div>
            <div class="IconContainer">
                <div class="NavDot" data-page="4"></div>
                <div class="NavLabel" data-page="4">Health</div>
            </div>
        </div>
        <div id="NavGroup3">
            <div class="NavLine"></div>
            <div class="IconContainer">
                <div class="NavDot" data-page="9"></div>
                <div class="NavLabel" data-page="9">Personal Info</div>
            </div>
        </div>
        <div id="NavGroup4">
            <div class="NavLine"></div>
            <div class="IconContainer">
                <div class="NavDot" data-page="11"></div>
                <div class="NavLabel" data-page="11">Payment</div>
            </div>
        </div>
    </div>
    <div class="NavComments">
        <div id="CommentHeader">Who do you want to protect with this policy?</div>
        <div id="CommentBody">Before we move on to the health questions, name your beneficiaries. Money can be divided up however you choose among up to five beneficiaries.</div>
    </div>
</div>
<div id="FireLightNavBarComplete" style="display:none;">
    <div class="NavToSectionBar">
        <div id="NavGroup1">
            <div class="IconContainer">
                <div class="NavDot NavActive" data-page="3"></div>
                <div class="NavLabel" data-page="3">Beneficiaries</div>
            </div>
        </div>
        <div id="NavGroup2">
            <div class="NavLine NavActive"></div>
            <div class="IconContainer">
                <div class="NavDot NavActive" data-page="4"></div>
                <div class="NavLabel" data-page="4">Health</div>
            </div>
        </div>
        <div id="NavGroup3">
            <div class="NavLine NavActive"></div>
            <div class="IconContainer">
                <div class="NavDot NavActive" data-page="9"></div>
                <div class="NavLabel" data-page="9">Personal Info</div>
            </div>
        </div>
        <div id="NavGroup4">
            <div class="NavLine NavActive"></div>
            <div class="IconContainer">
                <div class="NavDot NavActive" data-page="11"></div>
                <div class="NavLabel" data-page="11">Payment</div>
            </div>
        </div>
    </div>
    <div class="NavComments">
        <div id="CommentHeader">Your policy is ready for review and signature!</div>
        <div id="CompleteButton"><button id="btnProceedToSignatures">Review &amp; Sign</button></div>
    </div>
</div>
<div style="display:none;"><div id="activityStatus" class="percentComplete"></div><input id="currentPageNumber" type="text" disabled="disabled" value="0" /></div>
<div id="iframeWrapper"></div>
<div id="fireLightMainDiv">
    Loading...
</div>


@section scripts{
    <script type="text/javascript">
        const token = '@(Model.AccessToken)';
        const isNew = '@(Model.IsNew)' === 'true';
        const activityId = '@(Model.ActivityId)';
        const btnProceedToSignatures = document.getElementById('btnProceedToSignatures');
        const btnShowDocumentsDialog = document.getElementById('btnShowDocumentsDialog');
        const btnSubmitApplication = document.getElementById('btnSubmitApplication');
        const btnSaveApplication = document.getElementById('btnSaveApplication');
        const activityStatus = document.getElementById('activityStatus');
        btnProceedToSignatures.disabled = true;
        $('#fireLightMainDiv').on('fireLightLoaded', function ()
        {
            FireLightAPI.init(token, activityId, isNew);
            FireLightAPI.navigationEvent.subscribe(navigationChange);
            FireLightAPI.statusEvent.subscribe(statusChange);
            FireLightAPI.signatureStatusEvent.subscribe(signatureStatusChange);
            FireLightAPI.errorEvent.subscribe(handleErrorEvent);
            FireLightAPI.ruleMessagesEvent.subscribe(ruleMessageChange);
            document.getElementById("FireLightNavBar").style.display = "block";
            addNavs();
        });

        var statusChange = function (status) {
            //console.log('statusEvent - status = ' + JSON.stringify(status));
            console.log('statusEvent = Field: percentComplete = ' + status.percentComplete);
            if (status.percentComplete === 100) {
                topFunction();
                document.getElementById("FireLightNavBarComplete").style.display = "block";
                document.getElementById("FireLightNavBar").style.display = "none";
                btnProceedToSignatures.disabled = false;
            }
            else {
                document.getElementById("FireLightNavBarComplete").style.display = "none";
                document.getElementById("FireLightNavBar").style.display = "block";
                btnProceedToSignatures.disabled = true;
            }
        }

        btnProceedToSignatures.addEventListener('click', () => {
            FireLightAPI.proceedToSignatures();
        });

        var navigationChange = function (nav) {
            document.getElementById('currentPageNumber').value = nav.pageNumber;
            FireLightAPI.save();
            // Handle Navigation Bar changes
            var pg = nav.pageNumber;
            if (pg <= 3) {
                // Beneficiaries
                document.getElementById("infoText").innerHTML = "You are buying $<face-amount> of protection for just $<quote> per month.";
                document.getElementById("CommentHeader").innerHTML = "Who do you want to protect with this policy?";
                document.getElementById("CommentBody").innerHTML = "Before we move on to the health questions, name your beneficiaries. Money can be divided up however you choose among up to five beneficiaries.";
                $("#FireLightNavBar #NavGroup2 .NavLine, #FireLightNavBar #NavGroup3 .NavLine, #FireLightNavBar #NavGroup4 .NavLine").removeClass("NavActive");
                $("#FireLightNavBar #NavGroup2 .NavDot, #FireLightNavBar #NavGroup3 .NavDot, #FireLightNavBar #NavGroup4 .NavDot").removeClass("NavActive");
            } else if (pg >= 4 && pg < 9) {
                // Health
                document.getElementById("CommentHeader").innerHTML = "";
                document.getElementById("CommentBody").innerHTML = "";
                document.getElementById("infoText").innerHTML = "Your $ policy will help protect the ones you love.";
                $("#FireLightNavBar #NavGroup2 .NavLine").addClass("NavActive");
                $("#FireLightNavBar #NavGroup2 .NavDot").addClass("NavActive");
                $("#FireLightNavBar #NavGroup3 .NavLine, #FireLightNavBar #NavGroup4 .NavLine").removeClass("NavActive");
                $("#FireLightNavBar #NavGroup3 .NavDot, #FireLightNavBar #NavGroup4 .NavDot").removeClass("NavActive");
            } else if (pg >= 9 && pg < 11) {
                // Personal Info
                document.getElementById("CommentHeader").innerHTML = "";
                document.getElementById("CommentBody").innerHTML = "";
                document.getElementById("infoText").innerHTML = "Your $ policy will help protect the ones you love.";
                $("#FireLightNavBar #NavGroup2 .NavLine, #FireLightNavBar #NavGroup3 .NavLine").addClass("NavActive");
                $("#FireLightNavBar #NavGroup2 .NavDot, #FireLightNavBar #NavGroup3 .NavDot").addClass("NavActive");
                $("#FireLightNavBar #NavGroup4 .NavLine").removeClass("NavActive");
                $("#FireLightNavBar #NavGroup4 .NavDot").removeClass("NavActive");
            } else if (pg == 11) {
                // Payment
                document.getElementById("CommentHeader").innerHTML = "How will you be paying for your Policy?";
                document.getElementById("CommentBody").innerHTML = "Pay each month using your checking or savings account. Save even more when you pay quarterly, semi-annually, or annually.";
                document.getElementById("infoText").innerHTML = "Your $ policy will help protect the ones you love.";
                $("#FireLightNavBar #NavGroup2 .NavLine, #FireLightNavBar #NavGroup3 .NavLine, #FireLightNavBar #NavGroup4 .NavLine").addClass("NavActive");
                $("#FireLightNavBar #NavGroup2 .NavDot, #FireLightNavBar #NavGroup3 .NavDot, #FireLightNavBar #NavGroup4 .NavDot").addClass("NavActive");
            } else if (pg == 12) {
                document.getElementById("CommentHeader").innerHTML = "";
                document.getElementById("CommentBody").innerHTML = "";
                document.getElementById("infoText").innerHTML = "You are almost ready to review and sign your application!";
            }
        }
        function signatureStatusChange(sig) {
            if (sig.succeeded) {
                console.log("Signature Status Change");
                var url = sig.redirectUrl + "&Branding=SAG-D2C";

                // Adjustments to CSS
                $(".footer").css("margin-top: -6px;");
                $("#iframeWrapper").css("margin-top: -15px;");
                $("#fireLightMainDiv").hide();
                $("#FireLightNavBar").hide();
                $("#FireLightNavBarComplete").hide();

                $("#iframeWrapper").html("<iframe id=\"sigFrame\" src=\"" + url + "\"  width=\"100%\" height=\"1800px\" frameborder=\"0\" ></iframe>");
            }
            else {
                console.log('Signature status message = ' + sig.message);
            }
        }
        // For Debugging
        function ruleMessageChange(x) {
            var msgs = FireLightAPI.getRuleMessages();
            var currPage = document.getElementById('currentPageNumber').value;
            var errCount = 0;
            $.each(msgs, function (item, value) {
                // To See All Errors On Entire Application:
                //$.each(value.Errors, function (key, value2) {
                //        console.log(" Field: " + value2.DataItemid + "\r\n Message: " + value2.Message + "\r\n Page: " + value.PageNumber);
                //    });
                if (value.PageNumber == currPage) {
                    errCount += 1
                    // To See All Errors On Current Page:
                    //console.log("Error on field: " + item);
                    //$.each(value.Errors, function (key, value2) {
                    //    console.log(" Field: " + value2.DataItemid + "\r\n Message: " + value2.Message + "\r\n Page: " + value.PageNumber);
                    //});
                }
            });
            //console.log("Current Page Number: " + currPage);
            //console.log("Number of errors on page: " + errCount);
        }
        function handleErrorEvent(err) {
            var msg = err.error.ApiSource + ' - ' + err.error.ErrorMessage;
            document.getElementById('errMessage').innerHTML = 'Error message = ' + msg;
            console.log('errorEvent = ' + msg);
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        function addNavs() {
            var dots = document.querySelectorAll(".NavDot");
            Array.prototype.forEach.call(dots, function (e) {
                e.addEventListener('click', function () {
                    if (e.dataset.page) {
                        FireLightAPI.navigateToPage(e.dataset.page);
                    }
                });
            });
            var titles = document.querySelectorAll(".NavLabel");
            Array.prototype.forEach.call(titles, function (e) {
                e.addEventListener('click', function () {
                    if (e.dataset.page) {
                        FireLightAPI.navigateToPage(e.dataset.page);
                    }
                });
            });
        }
    </script>
    <script src="@Url.Content(Model.FirelightBaseUrl + "Resource/Scripts/eApp")"></script>
    <script type="text/javascript">
        $("#trustpilot").hide();
        $("#needs-analysis").hide();
    </script>
}